/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

/* GENERAL STYLES */
html {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem
}

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 0.5em;
    min-height: 100vh;
}

img {
    display: block;
}

/* START SECTION */
.start-menu {
    /* background-color: #333; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.main-header {
    color: black;
    text-align: center;
    font-weight: 600;
}

#play-button {
    cursor: pointer;
    background-color: green;
    color: white;
    border: none;
    font-size: 1.2em;
    padding: 0.5em;
    border-radius: 16px;
    
    transition: all 0.1s linear;
}

#play-button:hover {
    background-color: lightgreen;
}

#play-button:active {
    transform: scale(0.96);
}

/* GAME SECTION */
#game {
    /* transform: scale(0); */
    padding: 0.5em;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

#options {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#options button {
    padding: 0.5rem;
    outline: none;
    border: none;
    background-color: white;
}

#options img {
    height: 80px;
    width: 160px;
}

#game-header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.question {
    font-weight: bold;
}

.country {
    font-weight: bold;
    margin-top: 0;
}

.option1,
.option2,
.option3 {
    border: none;
    background-color: white;
    cursor: pointer;
}

#message-container {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(176, 251, 90);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    z-index: 1;
    transition: all 0.3s linear;
}

#message {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

#score-container {
    font-weight: bold;
    align-self: flex-start;
}

/* Animations */

/* PLAY BUTTON */
.out-play-button {
    animation-name: outPlayButton;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes outPlayButton {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.2);
        opacity: 0.6;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}

/* GAME SECTION */

.intro-game {
    animation-name: introGame;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.out-game {
    animation-name: outGame;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes introGame {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(1.2);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes outGame {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.2);
        opacity: 0.5;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}